In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/ZareenFarooqui/Dropbox/Programming/2016_03_clickstream.tsv", sep='\t', header=0)

In [4]:
df.head(4)

,prev,curr,type,n
0,Wild_Bill_Hickok,"Deadwood,_South_Dakota",link,18
1,(Ghost)_Riders_in_the_Sky:_A_Cowboy_Legend,Stan_Jones_(songwriter),link,410
2,(Hey_You)_The_Rock_Steady_Crew,Rock_Steady_Crew,link,75
3,(Miss)understood,Heaven_(Ayumi_Hamasaki_song),link,13

In [9]:
df.tail(4)

                 prev           curr      type   n
25615003  other-yahoo            Šid  external  23
25615004  other-yahoo  Škoda_1000_MB  external  14
25615005  other-yahoo              Ż  external  16
25615006  other-yahoo   Željko_Lučić  external  11

In [5]:
df.columns

Index([u'prev', u'curr', u'type', u'n'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25615007 entries, 0 to 25615006
Data columns (total 4 columns):
prev    object
curr    object
type    object
n       int64
dtypes: int64(1), object(3)
memory usage: 781.7+ MB

In [11]:
df.dtypes

prev    object
curr    object
type    object
n        int64
dtype: object

In [12]:
df.describe()

                  n
count  2.561501e+07
mean   2.660513e+02
std    9.486989e+04
min    1.100000e+01
25%    1.700000e+01
50%    3.100000e+01
75%    8.300000e+01
max    4.795118e+08

In [13]:
# min = 11
# avg = 266

In [17]:
df[df.n > 100000].head(5)

               prev             curr      type       n
206608   other-bing        Main_Page  external  240645
216526  other-empty    Ariana_Grande  external  167829
228155  other-empty  Frederick_Trump  external  103290
236198  other-empty   Kim_Kardashian  external  218614
258606  other-empty      Virat_Kohli  external  175152

In [18]:
df[df.curr == "Harry_Potter"].head(10)

,prev,curr,type,n
72571,Hogwarts,Harry_Potter,link,482
181498,The_Winds_of_Winter,Harry_Potter,other,12
189821,Uno_(card_game),Harry_Potter,link,11
261740,other-facebook,Harry_Potter,external,157
514885,The_Divergent_Series,Harry_Potter,other,14
743654,Harry_Potter_and_the_Prisoner_of_Azkaban,Harry_Potter,link,216
835316,Scarlett_Byrne,Harry_Potter,link,14
1064450,English_Wikipedia,Harry_Potter,other,21
1173461,Scholastic_Corporation,Harry_Potter,link,79
1456843,List_of_most_commonly_challenged_books_in_the_...,Harry_Potter,link,72

In [19]:
df[df.curr == "Harry_Potter"].sort_values('n', ascending=False).head(10)

                                          prev          curr      type       n
6008480                           other-google  Harry_Potter  external  293499
9330152                            other-empty  Harry_Potter  external  125098
4702218                        other-wikipedia  Harry_Potter  external   17539
10314943                            other-bing  Harry_Potter  external   12458
9767363                            other-yahoo  Harry_Potter  external    8511
21877068                           other-other  Harry_Potter  external    7527
8879954                              Main_Page  Harry_Potter     other    4977
8167831                          J._K._Rowling  Harry_Potter      link    3729
18943011            Harry_Potter_(film_series)  Harry_Potter      link    1767
5799489   Harry_Potter_and_the_Deathly_Hallows  Harry_Potter      link     714

#### How much total traffic landed on the Harry_Potter page in March 2016?

In [23]:
df[df['curr'] == 'Harry_Potter'].groupby('curr').sum()

                   n
curr
Harry_Potter  488494

## Lists for HP

In [66]:
book_titles = [
    "Harry_Potter_and_the_Philosopher's_Stone",
    "Harry_Potter_and_the_Chamber_of_Secrets",
    "Harry_Potter_and_the_Prisoner_of_Azkaban",
    "Harry_Potter_and_the_Goblet_of_Fire",
    "Harry_Potter_and_the_Order_of_the_Phoenix",
    "Harry_Potter_and_the_Half-Blood_Prince",
    "Harry_Potter_and_the_Deathly_Hallows"]

In [28]:
author = ['J._K._Rowling']

In [94]:
film_titles = [
    "Harry_Potter_and_the_Philosopher's_Stone_(film)",
    "Harry_Potter_and_the_Chamber_of_Secrets_(film)",
    "Harry_Potter_and_the_Prisoner_of_Azkaban_(film)",
    "Harry_Potter_and_the_Goblet_of_Fire_(film)",
    "Harry_Potter_and_the_Order_of_the_Phoenix_(film)",
    "Harry_Potter_and_the_Half-Blood_Prince_(film)",
    "Harry_Potter_and_the_Deathly_Hallows_–_Part_1",
    "Harry_Potter_and_the_Deathly_Hallows_–_Part_2"]

In [30]:
cast = [
    'Daniel_Radcliffe',
    'Emma_Watson',
    'Rupert_Grint',
    'Alan_Rickman',
    'Ralph_Fiennes',
    'Richard_Harris',
    'Michael_Gambon',
    'Tom_Felton']

In [101]:
film_makers = [
    'Chris_Columbus_(filmmaker)',
    'Alfonso_Cuarón',
    'Mike_Newell_(director)',
    'David_Yates',
    'David_Heyman',
    'David_Barron_(film_producer)',
    'J._K._Rowling',
    'Steve_Kloves',
    'Michael_Goldenberg']

### Which book is the most popular?

In [85]:
#Strategy: For each item in book_titles, get the grouped sum of n and then
# append it to a new DF with 2 cols, title + sum(n)

# Maybe write a func that takes in a list and emits a DF?

In [88]:
pop_books_df = pd.DataFrame()

for title in book_titles:
    pop_books_df = pd.concat([pop_books_df, 
                              df[df.curr == title] \
                              .groupby('curr').sum()])

In [89]:
pop_books_df

                                               n
curr
Harry_Potter_and_the_Philosopher's_Stone   97945
Harry_Potter_and_the_Chamber_of_Secrets    26869
Harry_Potter_and_the_Prisoner_of_Azkaban   27489
Harry_Potter_and_the_Goblet_of_Fire        34562
Harry_Potter_and_the_Order_of_the_Phoenix  32604
Harry_Potter_and_the_Half-Blood_Prince     39548
Harry_Potter_and_the_Deathly_Hallows       66615

In [175]:
pop_books_df['category'] = 'book'

In [176]:
pop_books_df

                                               n category
curr
Harry_Potter_and_the_Philosopher's_Stone   97945     book
Harry_Potter_and_the_Chamber_of_Secrets    26869     book
Harry_Potter_and_the_Prisoner_of_Azkaban   27489     book
Harry_Potter_and_the_Goblet_of_Fire        34562     book
Harry_Potter_and_the_Order_of_the_Phoenix  32604     book
Harry_Potter_and_the_Half-Blood_Prince     39548     book
Harry_Potter_and_the_Deathly_Hallows       66615     book

### Which film is the most popular?

In [95]:
pop_films_df = pd.DataFrame()

for film in film_titles:
    pop_films_df = pd.concat([pop_films_df, 
                              df[df.curr == film] \
                              .groupby('curr').sum()])

In [96]:
pop_films_df

                                                      n
curr
Harry_Potter_and_the_Philosopher's_Stone_(film)   81015
Harry_Potter_and_the_Chamber_of_Secrets_(film)    43759
Harry_Potter_and_the_Prisoner_of_Azkaban_(film)   50635
Harry_Potter_and_the_Goblet_of_Fire_(film)        54694
Harry_Potter_and_the_Order_of_the_Phoenix_(film)  49567
Harry_Potter_and_the_Half-Blood_Prince_(film)     47716
Harry_Potter_and_the_Deathly_Hallows_–_Part_1     54948
Harry_Potter_and_the_Deathly_Hallows_–_Part_2     74406

In [173]:
pop_films_df['category'] = 'film'

In [174]:
pop_films_df

                                                      n category
curr
Harry_Potter_and_the_Philosopher's_Stone_(film)   81015     film
Harry_Potter_and_the_Chamber_of_Secrets_(film)    43759     film
Harry_Potter_and_the_Prisoner_of_Azkaban_(film)   50635     film
Harry_Potter_and_the_Goblet_of_Fire_(film)        54694     film
Harry_Potter_and_the_Order_of_the_Phoenix_(film)  49567     film
Harry_Potter_and_the_Half-Blood_Prince_(film)     47716     film
Harry_Potter_and_the_Deathly_Hallows_–_Part_1     54948     film
Harry_Potter_and_the_Deathly_Hallows_–_Part_2     74406     film

### Which cast member is the most popular?

In [97]:
pop_cast_df = pd.DataFrame()

for each in cast:
    pop_cast_df = pd.concat([pop_cast_df, 
                              df[df.curr == each] \
                              .groupby('curr').sum()])

In [98]:
pop_cast_df

                       n
curr
Daniel_Radcliffe  242279
Emma_Watson       360812
Rupert_Grint      108866
Alan_Rickman      312455
Ralph_Fiennes     215257
Richard_Harris    117013
Michael_Gambon     98745
Tom_Felton         86771

In [177]:
pop_cast_df['category'] = 'cast'

In [178]:
pop_cast_df

                       n category
curr
Daniel_Radcliffe  242279     cast
Emma_Watson       360812     cast
Rupert_Grint      108866     cast
Alan_Rickman      312455     cast
Ralph_Fiennes     215257     cast
Richard_Harris    117013     cast
Michael_Gambon     98745     cast
Tom_Felton         86771     cast

### Which film maker is the most popular?

In [102]:
pop_makers_df = pd.DataFrame()

for each in film_makers:
    pop_makers_df = pd.concat([pop_makers_df, 
                              df[df.curr == each] \
                              .groupby('curr').sum()])

In [103]:
pop_makers_df

                                   n
curr
Chris_Columbus_(filmmaker)     25723
Alfonso_Cuarón                 51124
Mike_Newell_(director)          8562
David_Yates                    21664
David_Heyman                    6930
David_Barron_(film_producer)    1264
J._K._Rowling                 273468
Steve_Kloves                    3495
Michael_Goldenberg              1329

In [179]:
pop_makers_df['category'] = 'filmmaker'

In [180]:
pop_makers_df

                                   n   category
curr
Chris_Columbus_(filmmaker)     25723  filmmaker
Alfonso_Cuarón                 51124  filmmaker
Mike_Newell_(director)          8562  filmmaker
David_Yates                    21664  filmmaker
David_Heyman                    6930  filmmaker
David_Barron_(film_producer)    1264  filmmaker
J._K._Rowling                 273468  filmmaker
Steve_Kloves                    3495  filmmaker
Michael_Goldenberg              1329  filmmaker

## Make a popularity dataframe by merging all the above dataframes.

In [181]:
popularity_df = pd.DataFrame()

In [182]:
popularity_df = pd.concat([pop_books_df, pop_films_df, pop_cast_df, pop_makers_df])

In [183]:
popularity_df

                                                       n   category
curr
Harry_Potter_and_the_Philosopher's_Stone           97945       book
Harry_Potter_and_the_Chamber_of_Secrets            26869       book
Harry_Potter_and_the_Prisoner_of_Azkaban           27489       book
Harry_Potter_and_the_Goblet_of_Fire                34562       book
Harry_Potter_and_the_Order_of_the_Phoenix          32604       book
Harry_Potter_and_the_Half-Blood_Prince             39548       book
Harry_Potter_and_the_Deathly_Hallows               66615       book
Harry_Potter_and_the_Philosopher's_Stone_(film)    81015       film
Harry_Potter_and_the_Chamber_of_Secrets_(film)     43759       film
Harry_Potter_and_the_Prisoner_of_Azkaban_(film)    50635       film
Harry_Potter_and_the_Goblet_of_Fire_(film)         54694       film
Harry_Potter_and_the_Order_of_the_Phoenix_(film)   49567       film
Harry_Potter_and_the_Half-Blood_Prince_(film)      47716       film
Harry_Potter_and_the_Deathly_Hallows_–_Part_1      54948       film
Harry_Potter_and_the_Deathly_Hallows_–_Part_2      74406       film
Daniel_Radcliffe                                  242279       cast
Emma_Watson                                       360812       cast
Rupert_Grint                                      108866       cast
Alan_Rickman                                      312455       cast
Ralph_Fiennes                                     215257       cast
Richard_Harris                                    117013       cast
Michael_Gambon                                     98745       cast
Tom_Felton                                         86771       cast
Chris_Columbus_(filmmaker)                         25723  filmmaker
Alfonso_Cuarón                                     51124  filmmaker
Mike_Newell_(director)                              8562  filmmaker
David_Yates                                        21664  filmmaker
David_Heyman                                        6930  filmmaker
David_Barron_(film_producer)                        1264  filmmaker
J._K._Rowling                                     273468  filmmaker
Steve_Kloves                                        3495  filmmaker
Michael_Goldenberg                                  1329  filmmaker

In [184]:
popularity_df.sort_values('n', ascending = False)

                                                       n   category
curr
Emma_Watson                                       360812       cast
Alan_Rickman                                      312455       cast
J._K._Rowling                                     273468  filmmaker
Daniel_Radcliffe                                  242279       cast
Ralph_Fiennes                                     215257       cast
Richard_Harris                                    117013       cast
Rupert_Grint                                      108866       cast
Michael_Gambon                                     98745       cast
Harry_Potter_and_the_Philosopher's_Stone           97945       book
Tom_Felton                                         86771       cast
Harry_Potter_and_the_Philosopher's_Stone_(film)    81015       film
Harry_Potter_and_the_Deathly_Hallows_–_Part_2      74406       film
Harry_Potter_and_the_Deathly_Hallows               66615       book
Harry_Potter_and_the_Deathly_Hallows_–_Part_1      54948       film
Harry_Potter_and_the_Goblet_of_Fire_(film)         54694       film
Alfonso_Cuarón                                     51124  filmmaker
Harry_Potter_and_the_Prisoner_of_Azkaban_(film)    50635       film
Harry_Potter_and_the_Order_of_the_Phoenix_(film)   49567       film
Harry_Potter_and_the_Half-Blood_Prince_(film)      47716       film
Harry_Potter_and_the_Chamber_of_Secrets_(film)     43759       film
Harry_Potter_and_the_Half-Blood_Prince             39548       book
Harry_Potter_and_the_Goblet_of_Fire                34562       book
Harry_Potter_and_the_Order_of_the_Phoenix          32604       book
Harry_Potter_and_the_Prisoner_of_Azkaban           27489       book
Harry_Potter_and_the_Chamber_of_Secrets            26869       book
Chris_Columbus_(filmmaker)                         25723  filmmaker
David_Yates                                        21664  filmmaker
Mike_Newell_(director)                              8562  filmmaker
David_Heyman                                        6930  filmmaker
Steve_Kloves                                        3495  filmmaker
Michael_Goldenberg                                  1329  filmmaker
David_Barron_(film_producer)                        1264  filmmaker

## Facebook vs. Twitter vs. Google

In [145]:
fb_books_df = pd.DataFrame()

for book in book_titles:
    fb_books_df = pd.concat([fb_books_df, 
                              df[(df['curr'] == book) & 
                                 (df['prev'] == "other-facebook")]])

In [144]:
fb_books_df

,prev,curr,type,n
13068365,other-facebook,Harry_Potter_and_the_Philosopher's_Stone,external,31
23855196,other-facebook,Harry_Potter_and_the_Prisoner_of_Azkaban,external,22
9361546,other-facebook,Harry_Potter_and_the_Goblet_of_Fire,external,25
23517990,other-facebook,Harry_Potter_and_the_Order_of_the_Phoenix,external,29
13405924,other-facebook,Harry_Potter_and_the_Deathly_Hallows,external,28

In [146]:
df[(df['curr'] == "Harry_Potter_and_the_Chamber_of_Secrets") & 
   (df['prev'] == "other-facebook")]

Empty DataFrame
Columns: [prev, curr, type, n]
Index: []

In [151]:
fb_books_df.n.sum()

135

In [152]:
tw_books_df = pd.DataFrame()

for book in book_titles:
    tw_books_df = pd.concat([tw_books_df, 
                              df[(df['curr'] == book) & 
                                 (df['prev'] == "other-twitter")]])

In [153]:
tw_books_df

,prev,curr,type,n
24243554,other-twitter,Harry_Potter_and_the_Philosopher's_Stone,external,20
24580283,other-twitter,Harry_Potter_and_the_Deathly_Hallows,external,37

In [154]:
tw_books_df.n.sum()

57

In [161]:
gg_books_df = pd.DataFrame()

for book in book_titles:
    gg_books_df = pd.concat([gg_books_df, 
                              df[(df['curr'] == book) & 
                                 (df['prev'] == "other-google")]])

In [162]:
gg_books_df

,prev,curr,type,n
18815211,other-google,Harry_Potter_and_the_Philosopher's_Stone,external,42395
11062283,other-google,Harry_Potter_and_the_Chamber_of_Secrets,external,9582
3986580,other-google,Harry_Potter_and_the_Prisoner_of_Azkaban,external,9644
15106393,other-google,Harry_Potter_and_the_Goblet_of_Fire,external,12862
3648561,other-google,Harry_Potter_and_the_Order_of_the_Phoenix,external,12246
19150582,other-google,Harry_Potter_and_the_Half-Blood_Prince,external,17450
19150581,other-google,Harry_Potter_and_the_Deathly_Hallows,external,23913

In [163]:
gg_books_df.n.sum()

128092

In [155]:
fb_films_df = pd.DataFrame()

for title in film_titles:
    fb_films_df = pd.concat([fb_films_df, 
                              df[(df['curr'] == title) & 
                                 (df['prev'] == "other-facebook")]])

In [156]:
fb_films_df

,prev,curr,type,n
1609503,other-facebook,Harry_Potter_and_the_Philosopher's_Stone_(film),external,11
14753583,other-facebook,Harry_Potter_and_the_Chamber_of_Secrets_(film),external,12
9698336,other-facebook,Harry_Potter_and_the_Prisoner_of_Azkaban_(film),external,24
10709955,other-facebook,Harry_Potter_and_the_Half-Blood_Prince_(film),external,11
18462596,other-facebook,Harry_Potter_and_the_Deathly_Hallows_–_Part_2,external,29

In [157]:
fb_films_df.n.sum()

87

In [158]:
tw_films_df = pd.DataFrame()

for title in film_titles:
    tw_films_df = pd.concat([tw_films_df, 
                              df[(df['curr'] == title) & 
                                 (df['prev'] == "other-twitter")]])

In [159]:
tw_films_df

,prev,curr,type,n
12783359,other-twitter,Harry_Potter_and_the_Philosopher's_Stone_(film),external,15
313930,other-twitter,Harry_Potter_and_the_Chamber_of_Secrets_(film),external,37
20873580,other-twitter,Harry_Potter_and_the_Prisoner_of_Azkaban_(film),external,15

In [160]:
tw_films_df.n.sum()

67

In [165]:
gg_films_df = pd.DataFrame()

for title in film_titles:
    gg_films_df = pd.concat([gg_films_df, 
                              df[(df['curr'] == title) & 
                                 (df['prev'] == "other-google")]])

In [166]:
gg_films_df

,prev,curr,type,n
7354754,other-google,Harry_Potter_and_the_Philosopher's_Stone_(film),external,29643
20499834,other-google,Harry_Potter_and_the_Chamber_of_Secrets_(film),external,18594
15444543,other-google,Harry_Potter_and_the_Prisoner_of_Azkaban_(film),external,21140
11062285,other-google,Harry_Potter_and_the_Goblet_of_Fire_(film),external,22132
18478288,other-google,Harry_Potter_and_the_Order_of_the_Phoenix_(film),external,19469
16455228,other-google,Harry_Potter_and_the_Half-Blood_Prince_(film),external,17601
23871027,other-google,Harry_Potter_and_the_Deathly_Hallows_–_Part_1,external,19215
24207775,other-google,Harry_Potter_and_the_Deathly_Hallows_–_Part_2,external,25155

In [167]:
gg_films_df.n.sum()

172949

## Sankey Diagram for J.K. Rowling

In [194]:
jkr_df_in = df[df['curr'] == 'J._K._Rowling']

In [195]:
jkr_df_in.groupby('prev').sum().sort_values('n', ascending=False).head(10)

                       n
prev
other-google      152184
other-empty        58219
other-wikipedia     8758
other-bing          8514
Harry_Potter        7783
Robert_Galbraith    5878
other-other         3845
other-twitter       3742
other-yahoo         3633
Main_Page           2178

In [196]:
jkr_df_out = df[df['prev'] == 'J._K._Rowling']

In [197]:
jkr_df_out.groupby('curr').sum().sort_values('n', ascending=False).head(10)

                                             n
curr
Harry_Potter_and_the_Cursed_Child         7398
The_Cuckoo's_Calling                      4200
The_Casual_Vacancy                        3929
Harry_Potter                              3729
Fantastic_Beasts_and_Where_to_Find_Them   3567
Career_of_Evil                            3284
Harry_Potter_prequel                      3224
List_of_highest-grossing_films            2360
Harry_Potter_and_the_Philosopher's_Stone  1723
The_Silkworm                              1527

In [ ]:
%%html

  google.charts.load('current', {'packages':['sankey']});

In [1]:
%%html

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
     google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Weight');

        data.addRows([
          [ 'other-google', 'JK Rowling', 152184 ],
          [ 'other-empty', 'JK Rowling', 58219],
          [ 'other-wikipedia', 'JK Rowling', 8758 ],
          [ 'other-bing', 'JK Rowling', 8514  ],
          [ 'Harry_Potter', 'JK Rowling', 7783 ],
          [ 'Robert_Galbraith', 'JK Rowling', 5878],
          [ 'JK Rowling', 'Harry_Potter_and_the_Cursed_Child', 7398],
          [ 'JK Rowling', "The_Cuckoo's_Calling", 4200],
          [ 'JK Rowling', 'The_Casual_Vacancy', 3929],
          [ 'JK Rowling', 'Harry_Potter ', 3729],
          [ 'JK Rowling', 'Fantastic_Beasts_and_Where_to_Find_Them', 3567],
          [ 'JK Rowling', 'Career_of_Evil', 3284],
        ]);

        // Sets chart options.
        var options = {
          width: 600,
        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_jkr'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="sankey_jkr" style="width: 900px; height: 300px;"></div>
  </body>
</html>

## Sankey Diagram for Emma Watson

In [252]:
df[df.curr == 'Emma_Watson'].sort_values('n', ascending=False).head(6)

                                      prev         curr      type       n
16789767                      other-google  Emma_Watson  external  186288
25504458                       other-empty  Emma_Watson  external   92830
20878093                   other-wikipedia  Emma_Watson  external    9025
7434448   Beauty_and_the_Beast_(2017_film)  Emma_Watson      link    7823
9505005         Harry_Potter_(film_series)  Emma_Watson      link    5779
21100462                        other-bing  Emma_Watson  external    5077

In [253]:
df[df.prev == 'Emma_Watson'].sort_values('n', ascending=False).head(6)

                 prev                              curr   type      n
15555307  Emma_Watson  Beauty_and_the_Beast_(2017_film)   link  16899
9825297   Emma_Watson                    Matthew_Janney   link  12389
389211    Emma_Watson                      Universalism  other  10874
19262208  Emma_Watson            The_Circle_(2016_film)   link  10234
11510124  Emma_Watson                    Colonia_(film)   link   8252
17577720  Emma_Watson                 Regression_(film)   link   7160

In [254]:
%%html

<!DOCTYPE html>
<html>
 <head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
   
     google.charts.setOnLoadCallback(drawChart);

     function drawChart() {
       var data = new google.visualization.DataTable();
       data.addColumn('string', 'From');
       data.addColumn('string', 'To');
       data.addColumn('number', 'Weight');
       data.addRows([
         [ 'other-google', 'Emma_Watson', 186288 ],
         [ 'other-empty', 'Emma_Watson', 92830 ],
         [ 'other-wikipedia', 'Emma_Watson', 9025 ],
         [ 'Beauty_and_the_Beast_(2017_film)', 'Emma_Watson', 7823 ],      
         [ 'Harry_Potter_(film_series)', 'Emma_Watson', 5779 ],
         [ 'other-bing', 'Emma_Watson', 5077 ], 
         [ 'Emma_Watson', 'Beauty_and_the_Beast_(2017_film) ', 16899 ],
         [ 'Emma_Watson', 'Matthew_Janney', 12389 ],
         [ 'Emma_Watson', 'Universalism', 10874 ],
         [ 'Emma_Watson', 'The_Circle_(2016_film)', 10234 ],
         [ 'Emma_Watson', 'Colonia_(film)', 8252 ],
         [ 'Emma_Watson', 'Regression_(film)', 7160 ]                
       ]);

       // Sets chart options.
       var options = {
         width: 600,
       };

       // Instantiates and draws our chart, passing in some options.
       var chart = new google.visualization.Sankey(document.getElementById('sankey_ew'));
       chart.draw(data, options);
     }
   </script>
 </head>
 <body>
   <div id="sankey_ew" style="width: 900px; height: 300px;"></div>
 </body>
</html>

## Sankey Diagram for cast to film

In [223]:
df[df['curr'] == 'Emma_Watson'].sort_values('n', ascending=False)[:10]

                                      prev         curr      type       n
16789767                      other-google  Emma_Watson  external  186288
25504458                       other-empty  Emma_Watson  external   92830
20878093                   other-wikipedia  Emma_Watson  external    9025
7434448   Beauty_and_the_Beast_(2017_film)  Emma_Watson      link    7823
9505005         Harry_Potter_(film_series)  Emma_Watson      link    5779
21100462                        other-bing  Emma_Watson  external    5077
7046373                        other-other  Emma_Watson  external    5070
17933285                  Hermione_Granger  Emma_Watson      link    4066
12511344                  Daniel_Radcliffe  Emma_Watson      link    3919
20552379                       other-yahoo  Emma_Watson  external    3428

In [237]:
cast2film_df = pd.DataFrame()

for actor in cast:
    for title in film_titles:
        cast2film_df = pd.concat([cast2film_df, 
                                  df[(df['curr'] == title) & (df['prev'] == actor)]])

In [258]:
cast2film_df.head()

,prev,curr,type,n
3075897,Daniel_Radcliffe,Harry_Potter_and_the_Philosopher's_Stone_(film),link,2232
16219530,Daniel_Radcliffe,Harry_Potter_and_the_Chamber_of_Secrets_(film),link,660
11164302,Daniel_Radcliffe,Harry_Potter_and_the_Prisoner_of_Azkaban_(film),link,642
6783200,Daniel_Radcliffe,Harry_Potter_and_the_Goblet_of_Fire_(film),link,614
14196147,Daniel_Radcliffe,Harry_Potter_and_the_Order_of_the_Phoenix_(film),link,602

In [244]:
cast2film_df.groupby('prev').sum().sort_values('n', ascending=False)

                     n
prev
Daniel_Radcliffe  7806
Emma_Watson       4919
Alan_Rickman      1577
Rupert_Grint      1304
Tom_Felton        1079
Richard_Harris     654
Ralph_Fiennes      576
Michael_Gambon      58

In [257]:
%%html

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Weight');
        data.addRows([
          [ 'Emma_Watson', "HP 1 (Philosopher's Stone)", 1289 ],
          [ 'Emma_Watson', 'HP 2 (Chamber of Secrets)', 413 ],
          [ 'Emma_Watson', 'HP 3 (Prisoner of Azkaban)', 431 ],
          [ 'Emma_Watson', 'HP 4 (Goblet of Fire)', 491 ],
          [ 'Emma_Watson', 'HP 5 (Order of the Phoenix)', 397 ],
          [ 'Emma_Watson', 'HP 6 (Half-Blood Prince)', 452 ],
          [ 'Emma_Watson', 'HP 7 (Deathly Hallows–Part 1)', 413 ],
          [ 'Emma_Watson', 'HP 7 (Deathly Hallows–Part 2)', 1033 ],
          [ 'Daniel_Radcliffe', "HP 1 (Philosopher's Stone)", 2232 ],
          [ 'Daniel_Radcliffe', 'HP 2 (Chamber of Secrets)', 660 ],
          [ 'Daniel_Radcliffe', 'HP 3 (Prisoner of Azkaban)', 642 ],
          [ 'Daniel_Radcliffe', 'HP 4 (Goblet of Fire)', 614 ],
          [ 'Daniel_Radcliffe', 'HP 5 (Order of the Phoenix)', 602 ],
          [ 'Daniel_Radcliffe', 'HP 6 (Half-Blood Prince)', 722 ],
          [ 'Daniel_Radcliffe', 'HP 7 (Deathly Hallows–Part 1)', 615 ],
          [ 'Daniel_Radcliffe', 'HP 7 (Deathly Hallows–Part 2)', 1719 ],
          [ 'Rupert_Grint', "HP 1 (Philosopher's Stone)", 290 ],
          [ 'Rupert_Grint', 'HP 2 (Chamber of Secrets)', 98 ],
          [ 'Rupert_Grint', 'HP 3 (Prisoner of Azkaban)', 102 ],
          [ 'Rupert_Grint', 'HP 4 (Goblet of Fire)', 76 ],
          [ 'Rupert_Grint', 'HP 5 (Order of the Phoenix)', 123 ],
          [ 'Rupert_Grint', 'HP 6 (Half-Blood Prince)', 111 ],
          [ 'Rupert_Grint', 'HP 7 (Deathly Hallows–Part 1)', 125 ],
          [ 'Rupert_Grint', 'HP 7 (Deathly Hallows–Part 2)', 379 ]
        ]);

        // Sets chart options.
        var options = {
          width: 600,
        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="sankey_basic" style="width: 900px; height: 300px;"></div>
  </body>
</html>